.title{
    padding:10px 0px 0px 10px;
    background-color: rgb(247, 123, 7);
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

section {
    padding: 10px;
}

button {
    background-color: rgb(255, 217, 0);
    border-color: orange;
    border-radius: 5px;
}

h2 {
    font-size: large;
    margin-bottom: 3px;
}

p {
    margin: 3px;
}

label {
    font-weight: bold;
}

